.card{
    display: flexbox;
    justify-content: space-evenly;
    padding: 10px;
    border-style: groove;
    border-color: black;
    border-radius: 5%;
}

.card:hover {
    transform: scale(1.02);
  }
  

.card-img-top{
    height: 45px;
    width: 45px;
}

.btn{
    display: block;
    text-align: center;
    border-style: double;
    border-color: blue;
    border-radius: 10%;
    background-color: cyan;
    padding: 0%;
    margin: 0%;
}