@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.headshot {
    display: flex;
    height: 15%;
    width: 15%;
    border-style: groove;
    border-color: black;
    border-radius: 15%;
}

body{
    background-color: honeydew;
}

#footer{
  background-color: grey;
}

#logo{
  height: 45px;
  width: 45px;
}