@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.navBar {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    font-family: 'Cinzel Decorative', serif;
    font-size: 80%;
}